.library-card-body {
  display: flex;
  justify-content: space-between;

  .find-card {
    width: 600px;

    .find-card-title {
      color: #000;
      font-family: Inter;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.6px;
      text-align: center;
    }

    .card-body {
      margin-top: 30px;
      border: 3px solid #bb945f;
      padding: 20px 20px 0px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

      .card-bg {
        padding-top: 15px;
        background-color: #bb945f;

        .card-bg-title {
          margin-left: 18px;
          margin-bottom: 20px;

          color: #000;
          font-family: Forum;
          font-size: 30px;
          font-style: normal;
          font-weight: 400;
          line-height: 50px; /* 166.667% */
          letter-spacing: 0.6px;
        }
        .card-input {
          width: 520px;
          height: 66px;
          border-radius: 10px;
          border-color: #8e8e8e;
          border-width: 1px;
          background-color: #fff;
          margin: 0px 20px 25px;
          padding-left: 20px;

          color: #000;
          font-family: Forum;
          font-size: 30px;
          font-style: normal;
          font-weight: 400;
          line-height: 50px; /* 166.667% */
          letter-spacing: 0.6px;
        }
        .card-input::placeholder {
          color: #8e8e8e;

          opacity: 1; /* Firefox */
        }
        /* .card-input:focus{background-color: #8E8E8E;} */
      }

      .check-card-button {
        width: 242px;
        height: 44px;
        margin: 20px auto 30px;

        background-color: #fff;
        border-radius: 2px;
        border: 1px solid #0c0c0e;

        color: #0c0c0e;
        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1px;
      }
      .check-card-button:hover {
        background-color: #bb945f;
        border-color: #bb945f;
      }
    }
  }

  .get-card {
    width: 456px;

    .get-card-title {
      color: #000;
      text-align: right;
      font-family: Forum;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.6px;

      margin-bottom: 35px;
    }
    .get-card-text {
      color: #000;
      text-align: right;
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 40px; /* 200% */
      letter-spacing: 0.4px;

      margin-bottom: 35px;
    }
    .get-card-buttons {
      display: flex;
      justify-content: end;
      column-gap: 20px;

      .get-card-btn {
        width: 75px;
        height: 30px;

        color: #0c0c0e;
        text-align: center;
        font-family: Inter;
        font-size: 10px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1px;
      }
    }
  }
}