.coffee-shop-text{
  margin: 40px 0px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-align: center;
}

.coffee-shop-menus {
  display: flex;
  justify-content: space-between;
}

/* .coffee-shop-menu{width: 438px;} */

.coffee-shop-menu-header {
  margin: 0px 0px 40px 0px;

  color: #BB945F;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.coffee-shop-menu-right-header {
  text-align: end;
}

.coffee-shop-menu-data{padding: 0px;}

.coffee-shop-menu-subdata {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
}

.coffee-shop-menu-name {
  margin: 0px 60px 0px 0px;
  width: 200px;

  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}
.coffee-shop-menu-right-name {
  text-align: end;
  width: 212px;
}

.coffee-shop-menu-line {
  width: 100px;
  height: 1px;
  background-color: #BB945F;
  border-width: 0;
  margin: 0px 60px 0px 0px;
}

.coffee-shop-menu-price { 
  margin: 0px;

  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}