.library-card-body {
    display: flex;
    justify-content: space-between;
}

.find-card{width: 600px;}
.find-card-title {
  margin: 0px;
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: center;
}
.card-body {
  margin-top: 30px;
  border: 3px solid #BB945F;
  padding: 20px 20px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-bg {
  padding-top: 20px;
  background-color: #BB945F;
}
.card-bg-title {
  margin-left: 18px;
  margin-bottom: 15px;

  color: #000;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;
}
.card-input {
  width: 520px;
  height: 66px;
  border-radius: 10px;
  border-color: #8E8E8E;
  border-width: 1px;
  background-color: #FFF;
  padding-top: 15px;
  margin: 0px 17px 23px;
}
.card-input::placeholder {
  padding-left: 20px;
  color: #8E8E8E;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;

  opacity: 1; /* Firefox */
}

.check-card-button {
  width: 242px;
  height: 44px;
  margin: 26px auto 30px;

  background-color: #FFF;
  border-radius: 2px;
  border: 1px solid #0C0C0E;

  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
}
.check-card-button:hover{
  background-color: #BB945F;
  border-color: #BB945F;
}


.get-card {width: 456px;}
.get-card-title {
  color: #000;
  text-align: right;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
}
.get-card-text {
  margin-top: 35px;

  color: #000;
  text-align: right;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 0.4px;
}
.get-card-buttons {
    display: flex;
    justify-content: end;
    column-gap: 20px;
}
.get-card-btn {
  margin-top: 35px;
  width: 75px;
  height: 30px;

  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
}