@media (max-width: 1440px) {
  /* .carousel-slides {
    flex-direction: column;
    align-items: center;
  } */
  .slide-1 {
    margin: 0 auto;
  }
  .slide-2,
  .slide-3
  {
    display: none;
  }
}
@media (max-width: 1255px) {
  .body {
    .main {
      #favorites {
        .favorites-items {
          flex-direction: column;
          align-items: center;
        }
      }
      #contacts {
        .contacts-innerbox {
          flex-direction: column;
          row-gap: 100px;
        }
        .contacts-map{padding: 0px 20px;}
      }
      .library-card-body {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;

        .get-card {
          .get-card-title, .get-card-text{text-align: center;}
          .get-card-buttons{justify-content: center;}
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .body {
    .header {
      position: relative;
      .nav-wrapper {
        flex-direction: column-reverse;
        justify-content: start;
        row-gap: 44px;

        z-index: 1;
        position: absolute;
        top: 10px;
        right: 10px;

        /* padding-top: 100px; */
        padding: 20px;
        width: 332px;
        height: 570px;
        background-color: #000;

        .burger-menu{display: block;}
        .burger-menu:hover {
          .line2 {
            display: none;
          }
          .line1 {
            transform: rotate(45deg) translate(7px, 12.5px);
          }
          .line3 {
            transform: rotate(-45deg) translate(-5px, -2px);
          }
        }

        /* .nav{display: none;} */
        .nav-list {
          flex-direction: column;
          row-gap: 30px;
          align-items: center;
        }
        .nav-item{margin: 0px;}

        .profile-and-menu-icon {
          display: flex;
          justify-content: end;
          width: 312px;
          height: 35px;
        }
      }
    }
  }
  .coffee-shop-menus {
    flex-direction: column;
  }
}