#welcome {
  background-image: url("../img/welcome.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 600px;
  position: relative;
}

.welcome-bg {
  background-color: #0C0C0E;
  /* padding: 35px 40px; */
  width: 600px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 160px;
}

.welcome-bg-text {
  color: #FFF;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  /* 125% */
  letter-spacing: 3px;
  text-transform: uppercase;
  width: 520px;
}

.welcome-overlay {
  height: 300px;
  background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
}