.header {
  background-color: #0C0C0E;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-content: center;

  .header-title {
    flex-grow: 1;

    color: #FFF;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
  }

  .nav-wrapper {

    display: flex;
    align-items: center;
    position: relative;

    .nav-list {
    display: flex;
    align-content: center;
    list-style: none;
    }
    .nav-item{margin-right: 30px;}
    .nav-item:last-child{margin-right: 0px;}
    .nav-link {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 250% */
    text-decoration: none;
    }
    .nav-link:hover {
    text-decoration: underline;
    color: #BB945F;
    }

    .burger-menu {
    display: none;

    cursor: pointer;
    margin-left: 40px;
    width: 45px;
    }
    .burger-menu-line {
    width: 45px;
    height: 1px;
    border: 1px solid #FFF;
    margin-top: 2px;
    margin-bottom: 8px;
    transition: all 1s ease;
    }

    .profile-and-burger-icon {

    .profile-menu-conatiner {

      position: relative;

      .profile-icon {
      margin-left: 40px;
      background-color: transparent;
      border: none;

      .profile-icon-svg:hover > path {fill:#BB945F;}

      .profile-icon-user {
        display: none;
        width: 28px;
        height: 28px;
        background-color: #FFF;
        border-radius: 50%;
        padding: 4px;

        color: #BB945F;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 133.333% */
      }
      }

      .profile-menu-box {
      width: 80px;
      height: 0px;

      position: absolute;
      top: 40px;
      right: 0px;
      z-index: 1;

      overflow: hidden;
      background-color: #FFF;
      transition: height 0.5s ease;

      .profile-menu {
        display: flex;
        align-items: center;
        flex-direction: column;

        color: #000;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 133.333% */

        .profile-menu-title {
        margin: 5px 0px;
        font-size: 15px;
        }
        #profile-menu-title2{font-size: 13px;}
        .profile-menu-line {
        width: 40px;
        background-color: #BB945F;
        /* border: 1px solid #BB945F; */
        border: none;
        height: 1px;
        margin-bottom: 15px;
        }
        .profile-menu-button {
        cursor: pointer;
        background-color: transparent;
        border: none;
        }
        .profile-menu-button:hover{color: #BB945F;}
        .profile-menu-gap{margin-bottom: 10px;}
      }
      }
      .profile-menu-box-show{height: 115px;}

      #profile-menu-authorized{display: none;}
      #profile-menu-unauthorized{display: none;}

    }

    }

  }
}